@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}


/* Dashboard */

.slide {
  opacity: 0;
  transition-duration: 2s ;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s; 
  /* transform: scale(1.08);  */
}


 /* NavBar */

/* .active h1:after{
  background-color: #ee6730;
  left: 0%;
  width: 100%;
}

.active{
  color: #ee6730;
}

.active > svg{
  color: #ee6730
}

.non-active{
  color: gray
} */